

html{
    text-decoration: none;
    margin:0;
    padding:0;
}
body{
    background: #1F1F1F;
    /* color:white; */
}


/* Font sizes and colors */

h1{
    font-size:2rem;
}
 
h2{
    font-size:3.125rem;
    color:#D8A969;
    text-transform: uppercase;
}
h5{
    color:#D8A969;
}

a:hover{
    text-decoration: none;
}

.single-book{
    color:white;
}







